section#About {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 50px 20px;

    /* background-color: #f5f5f5; */
    & div.title {
        text-align: start;

        & h1 {
            margin-top: 0;
        }
    }

    & .grid-container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        & div {
            /* background-attachment: fixed; */
            background-color: #f3f3f3;
            border-radius: 10px;
            text-align: start;
            padding: 20px;
            box-sizing: border-box;
            & h4 {
                margin-bottom: 0;
            }
            & p {
                margin: 0;
            }
        }
        & .div1 {
            grid-area: 1 / 4 / 5 / 7;
        }

        & .div2 {
            grid-area: 1 / 7 / 5 / 10;
        }

        & .div3 {
            grid-area: 1 / 1 / 8 / 4;
        }

        & .div4 {
            grid-area: 5 / 4 / 8 / 7;
        }

        & .div5 {
            grid-area: 5 / 7 / 10 / 10;
        }

        & .div6 {
            grid-area: 8 / 1 / 13 / 4;
        }
    }


}