#Contact a i {
    font-size: 30px;
    color: #979797;
    margin: 0 10px;
}

@media (max-width:400px) {
    p{
        max-width: calc(100vw - 100px);
    }
    .toface{
        display: flex;
        flex-direction: column-reverse;
        & .right{
            padding: 0;
        }
    }
}