section#Habilidades {
    background-color: #f9fafb;
    padding: 50px 0;

    & main {
        & div.title {
            margin-bottom: 20px;

            & span {
                font-size: .875rem;
                letter-spacing: .1rem;
            }

            & h1 {
                margin-top: 0;
                font-size: 3rem;
                line-height: 1;
                font-weight: 400;
            }

            & p {
                font-size: 1.25rem;
                max-width: 700px;
                text-align: center;
                margin: auto;
            }
        }

        & div.cont-cards-info {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin: auto;
            width: 1000px;

            & div.card-info {

                aspect-ratio: 1;
                height: var(--framer-aspect-ratio-supported, 180px);
                flex: none;
                place-self: start;
                width: 180px;
                position: relative;
                background-color: #fff;

                & div.title {
                    padding: 10px;
                    box-sizing: border-box;
                    background-color: rgb(255, 255, 255);
                    height: 100%;
                    width: 100%;
                    border-radius: 16px;
                    box-shadow: rgba(36, 36, 36, 0.7) 0px 1px 5px -4px, rgba(36, 36, 36, 0.05) 0px 4px 8px 0px;
                    opacity: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    & span {
                        background-color: rgb(245, 245, 245);
                        border-radius: 12px;
                        box-shadow: rgba(19, 19, 22, 0.7) 0px 1px 5px -4px, rgba(34, 42, 53, 0.1) 0px 0px 0px 1px, rgba(34, 42, 53, 0.05) 0px 4px 8px 0px;
                        opacity: 1;
                        gap: 10px;
                        width: min-content;
                        height: min-content;
                        padding: 16px;
                        display: flex;
                        position: relative;
                        overflow: hidden;
                        aspect-ratio: 1/1;
                        font-size: 23px;
                    }
                }
            }

            & div.info-text {
                display: block;
                transition: .5s;
                scale: 0;
                opacity: 0;
                margin-top: -110%;
            }

            & :hover {
                & div.info-text {
                    scale: 1;
                    opacity: 1;
                    display: block;
                    position: absolute;
                    padding: 10px;
                    box-sizing: border-box;
                    background-color: rgb(255, 255, 255);
                    height: 100%;
                    width: 100%;
                    border-radius: 16px;
                    box-shadow: rgba(36, 36, 36, 0.7) 0px 1px 5px -4px, rgba(36, 36, 36, 0.05) 0px 4px 8px 0px;
                    opacity: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    & .border-top-rigth {
                        width: 10px;
                        aspect-ratio: 1/1;
                        background-color: gray;
                        transform: translateY(13px);
                        margin-left: 95%;
                    }

                    & .border-top-rigth::before {
                        display: block;
                        content: '';
                        background-color: #fff;
                        width: 10px;
                        aspect-ratio: 1 / 1;
                        transform: translate(-2px, 2px);
                    }

                    & .border-bottom-left {
                        width: 10px;
                        aspect-ratio: 1/1;
                        background-color: gray;
                        transform: translateY(-13px);
                        margin-left: -95%;
                    }

                    & .border-bottom-left::before {
                        display: block;
                        content: '';
                        background-color: #fff;
                        width: 10px;
                        aspect-ratio: 1 / 1;
                        transform: translate(2px, -2px);
                    }
                }
            }

        }
    }

}