header{
    position: fixed;
    z-index: 10;
    top:0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    /* color: white; */
    background-color: #fefefe65;
    backdrop-filter: blur(10px);
    width: 100%;
    
    & div.logo 
    {
        flex:1;
        /* padding-left: 30px; */
        & h1 {
            font-size: 1.35rem;
            line-height: 1.75rem;
            font-weight: 400;
            text-align: start;
        }
    }
    & div.routes{
        display: flex;
        gap: 20px;
        flex: 1;
        & a {
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 400;
            text-decoration: none;
            color: #3f3f3f;
            animation: uptodown 0.5s ease-out;
           
            
        }
         & a::after {
            display: block;
            content: '';
            width: 0%;
            height: 1px;
            background-color: #3f3f3f;
            /* margin-top: 5px; */
            transition: width 0.3s ease-in-out;
         }
         & a:hover::after {
            width: 100%;
         }
        
        /* selecionar cada a e dar um delay pelo indice */
        & a:nth-child(1) {
            animation-delay: 0.1s;
        }
        & a:nth-child(2) {
            animation-delay: 0.2s;
        }
        & a:nth-child(3) {
            animation-delay: 0.3s;
        }
        & a:nth-child(4) {
            animation-delay: 0.4s;
        }
        & a:nth-child(5) {
            animation-delay: 0.5s;
        }
    }
    
}

@keyframes uptodown {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    } 
}