section#home {
    text-align: start;
    margin-top: 20vh;
    display: flex;

    & div {
        flex: 1;
    }

    & div.cont-text {
        display: flex;
        flex-direction: column;
        gap: 20px;

        & span.profession {
            /*tudo em letra maiusculas */
            text-transform: uppercase;
        }

        & h1 {
            font-size: 3.5rem;
            line-height: 3rem;
            font-weight: 400;
            margin: 0;
            color: #3f3f3f;
                        animation: uptodown 0.7s ease-out;

        }

        & h1.last-name {
            color: #5f5f5f;

            & p {
                font-size: 1.25rem;
                line-height: 1.75rem;
                font-weight: 400;
                color: #3f3f3f;
            }

            
        }
        & div.routes {
            display: flex;
            gap: 20px;
            & a:nth-child(1) {
                background-color: #3f3f3f;
                color: #fff;
                &:hover {
                    background-color: transparent;
                    color: #3f3f3f;
                }
            }
            & a {
                text-decoration: none;
                color: #3f3f3f;
                font-weight: 500;
                border: 2px solid #3f3f3f;
                padding: 10px 20px;
                border-radius: 5px;
                transition: all 0.3s ease;
                animation: downtoup 0.5s ease;
                &:hover {
                    background-color: #3f3f3f;
                    color: #fff;
                }
            }
        }
    }

    & div.cont-img {
        display: flex;
        justify-content: center;
        align-items: center;

        & div.mold {
            max-width: 300px;
            border-radius: 50%;
            overflow: hidden;
            aspect-ratio: 1/1;
            /* scale: ; */
            /*deixar width == height  1/1*/
            /* border: 5px solid #3f3f3f; */
            & img {
                width: 100%;
                aspect-ratio: 1/1;
                height: 100%;
                object-fit: cover;
            }
        }
    }

}

section#home::before {
    content: 'PORTIFOLIO';
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-size: 10rem;
    top: 70%;
    left: 20%;
    width: 80%;

    color: rgb(122, 122, 122);
    z-index: -1;
}
@keyframes downtoup {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}

